<div class="container" [hidden]="visibilityStarted">
    <p>game works!</p>
    <button class="start-button" (click)="sendUpdatetoStart()">Confirm Game</button>
</div>

<div [hidden]="!visibilityStarted">
   
    @if (player?.hand!.length < 1) {
        <h1>Esperando Jugadores</h1>
    }@else {
        

<div class="panel">
    <h1 class="timer">00</h1>
    <!-- Jugador 1 (Arriba) -->
    <div class="jugador jugador1">
    
        <h1>{{player!.ally?.name}}  <span class="container_point">12</span></h1>
                    
        <div class="cartas">
            @for (card of cardsBackList; track $index) {                
                <img src="{{card.image}}"  class="carta" >
                }
        </div>
    </div>
    
    <!-- Jugador 2 (Derecha) -->
    <div class="jugador jugador2">
        <div class="cartas right">
            @for (card of cardsBackList; track $index) {                
            <img src="{{card.image}}"  class="carta">
            }
        
        </div>
       
        <h1 class="name-right" >{{enemys[0]}}<span class="container_point">12</span></h1>
    </div>

    <!-- Jugador 3 (Abajo) -->
    <div class="jugador jugador3">
        <div class="cartas">
            @for (card of player?.hand; track $index) {                
                <img src="{{card.image}}"  class="carta" (click)="useCard(card)">
                }
        </div>
        <h1>{{nameInput}}<span class="container_point">12</span></h1>
        
    </div>

    <!-- Jugador 4 (Izquierda) -->
    <div class="jugador jugador4">
        <h1 class="name-left">{{enemys[1]}} <span class="container_point">12</span></h1>
        <div class="cartas left">
            @for (card of cardsBackList; track $index) {                
                <img src="{{card.image}}" class="carta">
                }
        </div>
        
    </div>
    <!-- Área central para cartas jugadas -->
    <div class="centro">
        <div>
            @for (card of midCards; track $index) {                
                <img src="{{card.image}}" class="carta">
                }
        </div>
    </div>
</div>


    }
    
</div>


