

<div class="container">
    <h1>¡Bienvenido a la Cuatrola!</h1>
    <p>El juego de cartas donde la estrategia y el ingenio se unen.</p>
    <input type="text" id="nombreJugador" class="input-name" placeholder="Introduce tu nombre" [(ngModel)]="nameInput" />
    <div>
        <button class="start-button" (click)="startGame('1')">Sala 1</button>
        <button class="start-button" (click)="startGame('2')">Sala 2</button>
        <button class="start-button" (click)="startGame('3')">Sala 3</button>
        <button class="start-button" (click)="startGame('4')">Sala 4</button>
    </div>
    <div class="footer">
        <p>asd</p>
        <p>© 2024 - Cuatrola Game</p>
    </div>
</div>



